fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: get-spacing(small) / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: get-spacing(small) / 2;
}

input,
select {
  display: block;
  font-family: $base-font-family;
  font-size: get-font-size(14);
}

#{$all-text-inputs},
select[multiple] {
  background-color: get-color(white);
  border: 1px solid get-color(border);
  border-radius: $base-border-radius;
  box-shadow: none;
  box-sizing: border-box;
  font-family: $base-font-family;
  font-size: get-font-size(14);
  margin-bottom: get-spacing(small);
  padding: get-spacing(base) / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade(get-color(border), 20%);
  }

  &:focus {
    border-color: get-color(primary, base);
    box-shadow: none;
    outline: none;
  }

  &:disabled {
    background-color: shade(get-color(white), 5%);
    cursor: not-allowed;

    &:hover {
      border: 1px solid get-color(border);
    }
  }
}

textarea {
  resize: vertical;
}

[type="search"] {
  appearance: none;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: get-spacing(small) / 2;
}

[type="file"] {
  margin-bottom: get-spacing(small);
  width: 100%;
}

select {
  margin-bottom: get-spacing(base);
  max-width: 100%;
  width: auto;
}
