ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin-bottom: get-spacing(small);

  dt {
    font-weight: 600;
    margin-top: get-spacing(small);
  }

  dd {
    margin: 0;
  }
}
