html {
  font-size: $inuit-font-size;
}

body {
  color: get-color(font);
  font-family: $base-font-family;
  font-size: get-font-size(14);
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  background: get-color(silver);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  font-weight: $bold-font-weight;

  small {
    font-size: 60%;
    color: lighten(get-color(font), 15%);
    font-weight: $base-font-weight;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: get-spacing(small) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: get-font-size(34);
}

h2 {
  font-size: get-font-size(30);
}

h3 {
  font-size: get-font-size(28);
}

h4 {
  font-size: get-font-size(24);
}

h5 {
  font-size: get-font-size(20);
}

h6 {
  font-size: get-font-size(16);
}

a {
  color: get-color(primary, base);
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: get-color(primary, dark);
  }
}

hr {
  border: 0 none;
  border-bottom: 1px solid get-color(border);
  margin: get-spacing(base) 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

pre,
code {
  font-family: $monospace-font-family;
}
